@font-face {
    font-family: SofachromeRg-Regular;
    src: url('sofachrome.otf');
}

#playersScore, #opponentsScore, #energy, #fullness, #hydration, #health, #credits
{
 -fx-font-family: 'SofachromeRg-Regular';
}

/*
.root{
	-fx-background-image:url('images/background.jpg');
	-fx-background-size:cover;
}
*/