@font-face {
    font-family: SofachromeRg-Regular;
    src: url('sofachrome.otf');
}

.text-sofachrome-font
{
 -fx-font-family: 'SofachromeRg-Regular';
}

.loading {
  -fx-text-box-border: white;
  -fx-control-inner-background: black;
  -fx-accent: white;
}

/*
.root{
	-fx-background-image:url('images/background.jpg');
	-fx-background-size:cover;
}
*/